html {
  background-color: #000000;
  font-family: "Silkscreen";
  color: #f1f1f1;
  font-size: 60px;
}

.bar {
  width: 600px;
  height: 10px;
  background-color: #4b4bea;
  margin: 0px 0px 20px 200px;
}
.intro {
  font-size:35px;
}

.sidenav {
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #4b4bea;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  align-content: center;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 40px;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color: #000000;
}


.header {
  margin: 0 auto;
  width: 1010px;
  border: 1px solid white;
}

.flyers {
  display: flex;
}

.flyers img {
  width: 33%;
}

.flyers2 {
  display: flex;
}

.flyers2 img {
  width: 50%;
}
.logo {
  width: 600px;
  padding: 20px;
}
.mixes {
  display: flex;
}

.mixes img {
  padding: 5px;
  width: 90%;
}
.mixes2 {
  display: flex;
}

.mixes2 img {
  padding: 1px;
  width: 90%
}
.mixes3 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mixes3 img {
  padding: 1px;
  width: 90%;
}
